body {
  background: #f4f1de;
  color: #222222;
}
body text {
  fill: #222222;
}
.c-toolbar {
  top: 8px !important;
}

.c-uploader {
  font-family: sans-serif;
  text-align: center;
  width: 500px;
  margin: 150px auto;
  padding: 50px;
  border-radius: 100px;
  border: 8px dashed #3d405b;
}
.c-uploader.drop-ready {
  background-color: #f2cc8f;
}

.c-icon {
  stroke: #3d405b;
}

.c-svg-canvas {
  user-select: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: grab;
}
.c-svg-canvas.dragging {
  cursor: grabbing;
}
.c-svg-canvas svg {
  display: block !important;
  border: none !important;
  margin: 0 !important;
}
ul.hidden-nodes {
  position: absolute;
  top: 0;
  right: 0;
  font-family: sans-serif;
}

.c-domain-object .handle {
  cursor: grab;
}
.c-domain-object .handle circle {
  fill: #81b29a;
  stroke: #3d405b;
  stroke-width: 2;
}
.c-domain-object.selected .handle circle {
  fill: #81b29a;
  stroke: #e07a5f;
  stroke-width: 4;
}
.c-domain-object.dragging .handle {
  cursor: grabbing;
}
.c-domain-object text {
  font-family: sans-serif;
  stroke: none;
  text-anchor: middle;
  alignment-baseline: middle;
  fill: #222222;
}
.c-domain-object.selected text {
  fill: #222222;
}
.c-domain-object .controls rect.click-target {
  fill: transparent;
}
.c-domain-object .controls .control-wheel {
  fill: transparent;
}

.c-svg-button circle.background {
  fill: #f2cc8f;
  stroke: #3d405b;
  stroke-width: 2;
}
.c-svg-button .c-icon {
  stroke: #3d405b;
}
.c-svg-button:hover circle.background {
  fill: #f2cc8f;
  stroke: #3d405b;
}
.c-svg-button:hover .c-icon {
  stroke: #3d405b;
}
.c-svg-button .click-target {
  cursor: pointer;
  fill: transparent;
}

.c-domain-edge .handle {
  cursor: pointer;
}
.c-domain-edge .handle rect {
  rx: 3;
  fill: #f4f1de;
  stroke: #3d405b;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.c-domain-edge .handle .c-icon {
  stroke: #3d405b;
}
.c-domain-edge .handle.selected rect {
  fill: #f4f1de;
  stroke: #e07a5f;
  stroke-width: 4;
}
.c-domain-edge .handle.selected .c-icon {
  stroke: #3d405b;
}
.c-domain-edge path {
  stroke: #3d405b;
  stroke-width: 2;
  fill: none;
}
.c-domain-edge path.optional {
  stroke-dasharray: 4 2;
}
.c-domain-edge path.selected {
  stroke: #e07a5f;
  stroke-width: 4;
}

.c-spotlight {
  overflow: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  display: block;
  position: absolute;
  max-height: 100vh;
  width: 400px;
  top: 0;
  right: 0;
  font-family: sans-serif;
}
.c-spotlight::-webkit-scrollbar {
  width: 0 !important;
}
.c-spotlight li {
  list-style-type: none;
}
.c-spotlight ul {
  padding: 0;
}
.c-spotlight .description,
.c-spotlight .notice {
  font-size: 90%;
  opacity: 90%;
}
.c-spotlight .controls {
  position: absolute;
}
.c-spotlight .controls .c-icon-button:hover {
  background-color: #f2cc8f;
  stroke: #3d405b;
}
.c-spotlight .node-spotlight {
  position: relative;
  border: 2px solid #3d405b;
  background-color: #81b29a;
  color: #222222;
  margin: 10px;
  border-radius: 30px;
  padding: 16px 20px;
}
.c-spotlight .node-spotlight li.edge.field {
  padding: 6px 8px 6px 8px;
  margin: -2px -8px -2px -8px;
  transition: background-color 100ms ease-in-out;
}
.c-spotlight .node-spotlight li.edge.field svg.c-icon {
  margin-right: 2px;
  margin-bottom: -6px;
}
.c-spotlight .node-spotlight li.edge.field.selected {
  border-left: 4px solid #e07a5f;
}
.c-spotlight .node-spotlight li.edge.field:hover {
  cursor: pointer;
  background-color: #f2cc8f;
}
.c-spotlight .node-spotlight li.edge.field .description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.c-spotlight .node-spotlight .controls {
  top: 4px;
  right: 16px;
}
.c-spotlight .node-spotlight .controls .c-icon-button {
  background-color: #81b29a;
  stroke: #3d405b;
}
.c-spotlight .edge-spotlight {
  position: relative;
  border: 2px solid #3d405b;
  background-color: #f4f1de;
  color: #222222;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 16px 30px;
}
.c-spotlight .edge-spotlight .controls {
  top: 1px;
  right: 1px;
}
.c-spotlight .edge-spotlight .controls .c-icon-button {
  stroke: #3d405b;
}
.c-spotlight .enum-values,
.c-spotlight .input-fields {
  margin-top: 4px;
  margin-left: 8px;
}
.c-spotlight .enum-values .deprecated .name,
.c-spotlight .input-fields .deprecated .name,
.c-spotlight .enum-values .deprecated .description,
.c-spotlight .input-fields .deprecated .description {
  text-decoration: line-through;
}
.c-spotlight .enum-values .deprecated .notice,
.c-spotlight .input-fields .deprecated .notice {
  padding: 0 8px 0 8px;
  font-style: italic;
}
.c-spotlight .enum-values li.enum-value,
.c-spotlight .input-fields li.enum-value,
.c-spotlight .enum-values li.input-field,
.c-spotlight .input-fields li.input-field {
  margin-bottom: 4px;
}
.c-spotlight .field {
  padding-bottom: 8px;
}
.c-spotlight h1 {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
}
.c-spotlight h1 svg.c-icon {
  margin-right: 4px;
}

.c-icon-button {
  display: inline-flex;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  padding: 8px 8px;
}
.c-icon-button:focus {
  outline: none;
}

.c-toolbar {
  display: inline-block;
  position: relative;
  top: 16px;
  left: 395px;
}
.c-toolbar .c-pill-button {
  margin: 0 6px;
  background-color: #f4f1de;
  color: #222222;
}
.c-toolbar .c-pill-button svg {
  stroke: #222222;
}
.c-toolbar .c-pill-button:active {
  background-color: #f2cc8f;
  color: #222222;
}
.c-toolbar .c-pill-button:active svg {
  stroke: #222222;
}

.c-pill-button {
  display: inline-flex;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  padding: 8px 12px;
  user-select: none;
  border-radius: 40px;
  align-items: center;
  transition: box-shadow 100ms ease-in-out, background-color 100ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 6px 0px;
}
.c-pill-button svg {
  margin-top: -2px;
  margin-right: 4px;
}
.c-pill-button:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px 0px;
}
.c-pill-button:active {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 6px 0px;
}
.c-pill-button:focus {
  outline: none;
}

.c-search-box {
  overflow: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  display: block;
  position: absolute;
  max-height: calc(100vh - 55px);
  width: 400px;
  top: 55px;
  left: 0;
  font-family: sans-serif;
}
.c-search-box::-webkit-scrollbar {
  width: 0 !important;
}
.c-search-box div.controls {
  position: fixed;
  top: 16px;
  left: 16px;
}
.c-search-box div.controls input {
  width: 320px;
  padding: 8px 40px 8px 12px;
  margin: 0;
  border-radius: 40px;
  border: none;
  outline: none;
  transition: box-shadow 100ms ease-in-out;
  background-color: white;
  color: #222222;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 6px 0px;
}
.c-search-box div.controls input::placeholder {
  color: #888888;
}
.c-search-box div.controls input:focus {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px 0px;
}
.c-search-box div.controls:focus input,
.c-search-box div.controls:hover input {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px 0px;
}
.c-search-box div.controls:active input {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 6px 0px;
}
.c-search-box div.controls .c-icon-button {
  position: absolute;
  right: 0;
  top: 0;
}
.c-search-box div.controls .c-icon-button svg {
  stroke: #222222;
}
.c-search-box .result {
  padding: 12px 16px;
  cursor: pointer;
}
.c-search-box .result .description {
  font-size: 90%;
  opacity: 90%;
}
.c-search-box .result.node {
  background-color: #81b29a;
  border: 2px solid #3d405b;
  border-radius: 12px;
  margin: 8px 8px;
}
.c-search-box .result.field,
.c-search-box .result.arg {
  background-color: #f4f1de;
  border: 2px solid #3d405b;
  border-radius: 5px;
  margin: 8px 12px;
}
.c-search-box ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.c-uploader {
  font-family: sans-serif;
  text-align: center;
  width: 500px;
  margin: 150px auto;
  padding: 50px;
  border-radius: 100px;
  border: 8px dashed #3d405b;
}
.c-uploader.drop-ready {
  background-color: #f2cc8f;
}
.c-uploader ul.errors {
  margin: 0;
  padding: 32px 0 0 0;
}
.c-uploader ul.errors li {
  list-style: none;
  display: inline-flex;
  align-items: center;
}
.c-uploader ul.errors li .c-icon {
  margin-right: 8px;
}

.c-button {
  cursor: pointer;
  border-radius: 3px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border: 2px solid #3d405b;
  background-color: #f4f1de;
  font-size: 16px;
}
.c-button:focus,
.c-button:hover {
  outline: none;
  background-color: #f2cc8f;
}
.c-button .c-icon {
  margin-right: 8px;
}

